# create table

s3에 매일 올라오는 csv 파일을 받아올 테이블 생성

- movie_codes
- movie_company
- movie_director
- movie_genre
- movie_grade
- movie_sale
- movie_summary

In [ ]:
-- 기존 테이블을 아예 삭제시키고 다시 CREATE TABLE을 해야하는 경우에 사용

/* DROP TABLE IF EXISTS raw_data.movie_codes;
DROP TABLE IF EXISTS raw_data.movie_company;
DROP TABLE IF EXISTS raw_data.movie_director;
DROP TABLE IF EXISTS raw_data.movie_genre;
DROP TABLE IF EXISTS raw_data.movie_grade;
DROP TABLE IF EXISTS raw_data.movie_sale;
DROP TABLE IF EXISTS raw_data.movie_summary;
*/

In [ ]:
CREATE TABLE raw_data.movie_codes(
    movieNm VARCHAR(150),
    movieCd VARCHAR(10) primary key
)

In [ ]:
CREATE TABLE raw_data.movie_company(
    movieCd VARCHAR(10) primary key,
    companys VARCHAR(100)
);

In [ ]:
CREATE TABLE raw_data.movie_director(
    movieCd VARCHAR(10) primary key,
    directors VARCHAR(50)
);

In [ ]:
CREATE TABLE raw_data.movie_genre(
    movieCd VARCHAR(10) primary key,
    genres VARCHAR(20)
);

In [ ]:
CREATE TABLE raw_data.movie_grade(
    movieCd VARCHAR(10) primary key,
    audits VARCHAR(80)
);

In [ ]:
CREATE TABLE raw_data.movie_sale(
    date DATE,
    rank INTEGER,
    rankInten INTEGER,
    rankOldAndNew VARCHAR(10),
    movieCd INTEGER primary key,
    movieNm VARCHAR(150),
    openDt DATE,
    salesAmt FLOAT,
    salesShare FLOAT,
    salesInten FLOAT,
    salesChange FLOAT,
    salesAcc FLOAT,
    audiCnt INTEGER,
    audiInten INTEGER,
    audiChange FLOAT,
    audiAcc INTEGER,
    scrnCnt INTEGER,
    showCnt INTEGER
);

In [ ]:
CREATE TABLE raw_data.movie_summary(
    movieCd INTEGER primary key,
    movieNm VARCHAR(150),
    movieNmEn VARCHAR(150),
    showTm INTEGER,
    prdtYear VARCHAR(10),
    openDt DATE,
    actors VARCHAR(50) 
);